*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/13.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}
.ca{
    color: white;
}
.text-big{
    text-align: center;
    padding: 0 0 50px 0;
}
.small-text{
    font-size: x-large;
}
@media only screen and (max-width: 1280px){
.main{
    max-height: 80vh;
    top: 47%;
    left: 14%;
    transform: translate(-6%,-50%);

}
.text-big {
  text-align: center;
  padding: 0 0 50px 0;
  font-size: 50px;
}
.small-text {
  font-size: large;
}
}
